<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.tour.dao.TouristAttractionMapper">
	<resultMap id="contentMap"
		type="kr.spring.tour.vo.TouristAttractionVO">
		<result property="areaCode" column="AREA_CODE" />
		<result property="cat1" column="CAT1" />
		<result property="cat2" column="CAT2" />
		<result property="cat3" column="CAT3" />
		<result property="id" column="CONTENT_ID" />
		<result property="id" column="CONTENT_TYPE_ID" />
		<result property="firstImage" column="FIRST_IMAGE" />
		<result property="firstImage2" column="FIRST_IMAGE2" />
		<result property="cpyrhtDivCd" column="CPYRHT_DIV_CD" />
		<result property="mapX" column="MAP_X" />
		<result property="mapY" column="MAP_Y" />
		<result property="sigunguCode" column="SIGUNGU_CODE" />
		<result property="createdAt" column="CREATED_AT" />
		<result property="updatedAt" column="UPDATED_AT" />
		<result property="showFlag" column="SHOW_FLAG" />
		<!-- tour_content(TourVO) 부분 -->

		<result property="accomCount" column="ACCOM_COUNT" />
		<result property="chkBabyCarriage" column="CHK_BABY_CARRIAGE" />
		<result property="chkCreditCard" column="CHK_CREDIT_CARD" />
		<result property="chkPet" column="CHK_PET" />
		<result property="expageRange" column="EXPAGE_RANGE" />
		<result property="expGuide" column="EXP_GUIDE" />
		<result property="heritage1" column="HERITAGE1" />
		<result property="heritage2" column="HERITAGE2" />
		<result property="heritage3" column="HERITAGE3" />
		<result property="infoCenter" column="INFO_CENTER" />
		<result property="openDate" column="OPEN_DATE" />
		<result property="parking" column="PARKING" />
		<result property="restDate" column="REST_DATE" />
		<result property="useSeason" column="USE_SEASON" />
		<result property="useTime" column="USE_TIME" />
		<!-- touristAttarction(TouristAttarctionVO) 부분 -->
	</resultMap>
	
	<select id="selectAttraction" parameterType="long" resultMap="contentMap">
		SELECT
			*
		FROM tourist_attraction_detail
		JOIN tour_content USING(content_id)
		WHERE content_id=#{id}
	</select>
</mapper>














