<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.tour.dao.TourMapper">
	<resultMap id="contentMap" type="kr.spring.tour.vo.TourVO">
	    <result property="areaCode" column="AREA_CODE" />
	    <result property="cat1" column="CAT1" />
	    <result property="cat2" column="CAT2" />
	    <result property="cat3" column="CAT3" />
	    <result property="id" column="CONTENT_ID" />
	    <result property="contentTypeId" column="CONTENT_TYPE_ID" />
	    <result property="firstImage" column="FIRST_IMAGE" />
	    <result property="firstImage2" column="FIRST_IMAGE2" />
	    <result property="cpyrhtDivCd" column="CPYRHT_DIV_CD" />
	    <result property="mapX" column="MAP_X" />
	    <result property="mapY" column="MAP_Y" />
	    <result property="sigunguCode" column="SIGUNGU_CODE" />
	    <result property="createdAt" column="CREATED_AT" />
	    <result property="updatedAt" column="UPDATED_AT" />
	    <result property="showFlag" column="SHOW_FLAG" />
	</resultMap>

	<sql id="tourSearch">
		<where>
			<if test="category != null and category != 0">
				content_type_id = #{category}	
			</if>
			<if test="keyword != null and keyword != ''">
				<if test="category != null and category != 0">
					AND
				</if>
				(title LIKE '%' || #{keyword} || '%' OR
				addr1 LIKE '%' || #{keyword} || '%' OR
				addr2 LIKE '%' || #{keyword} || '%') 
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 레코드수  -->
	<select id="selectRowCount" resultType="integer">
		SELECT
		  COUNT(*)
		FROM tour_content 
		<include refid="tourSearch"/>                          
	</select>
	
	<!-- 전체/검색 목록 -->
	<select id="selectList" parameterType="map"
	                        resultMap="contentMap">
		SELECT
		  *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (SELECT
		              *
		            FROM tour_content c 
		            <include refid="tourSearch"/>
		            ORDER BY c.updated_at DESC NULLS LAST)a)
	<![CDATA[
		WHERE rnum >= #{start, jdbcType=INTEGER} AND rnum <= #{end, jdbcType=INTEGER}
	]]>	             
	</select>
	
</mapper>














