<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.api.mapper.ExpressBusTerminalApiMapper">

    <insert id="insert">
        INSERT INTO EXPRESS_BUS_TERMINAL (TERMINAL_ID, TERMINAL_NAME) VALUES (#{terminalId}, #{terminalName})
    </insert>

    <update id="update">
        UPDATE EXPRESS_BUS_TERMINAL SET TERMINAL_NAME = #{terminalName} WHERE TERMINAL_ID = #{terminalId}
    </update>

</mapper>