<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.api.mapper.TrainRouteMapper">

    <resultMap id="TrainRouteResultMap" type="kr.spring.api.dto.TrainRouteApiDto">
        <result property="trainRouteId" column="train_route_id"/>
        <result property="adultCharge" column="adult_charge"/>
        <result property="depPlaceName" column="dep_place_name"/>
        <result property="arrPlaceName" column="arr_place_name"/>
        <result property="depPlandtime" column="dep_pland_time"/>
        <result property="arrPlandTime" column="arr_pland_time"/>
        <result property="trainGradeName" column="train_grade_name"/>
        <result property="trainNo" column="train_no"/>
    </resultMap>

    <insert id="insert" parameterType="kr.spring.api.dto.TrainRouteApiDto">
        INSERT INTO TRAIN_ROUTE (
            TRAIN_ROUTE_ID,
            ADULT_CHARGE,
            DEP_PLACE_NAME,
            ARR_PLACE_NAME,
            DEP_PLAND_TIME,
            ARR_PLAND_TIME,
            TRAIN_GRADE_NAME,
            TRAIN_NO
        )
        VALUES (
                   TRAIN_ROUTE_SEQ.NEXTVAL,
                   #{adultCharge},
                   #{depPlaceName},
                   #{arrPlaceName},
                   #{depPlandtime},
                   #{arrPlandTime},
                   #{trainGradeName},
                   #{trainNo}
               )
    </insert>

    <update id="update" parameterType="kr.spring.api.dto.TrainRouteApiDto">
        UPDATE TRAIN_ROUTE
        SET
            ADULT_CHARGE      = #{adultCharge},
            DEP_PLACE_NAME    = #{depPlaceName},
            ARR_PLACE_NAME    = #{arrPlaceName},
            DEP_PLAND_TIME    = #{depPlandtime},
            ARR_PLAND_TIME    = #{arrPlandTime},
            TRAIN_GRADE_NAME  = #{trainGradeName},
            TRAIN_NO          = #{trainNo}
        WHERE
            TRAIN_ROUTE_ID = #{trainRouteId}
    </update>

    <select id="selectAllTrainRoutes" resultMap="TrainRouteResultMap">
        SELECT
            TRAIN_ROUTE_ID,
            ADULT_CHARGE,
            DEP_PLACE_NAME,
            ARR_PLACE_NAME,
            DEP_PLAND_TIME,
            ARR_PLAND_TIME,
            TRAIN_GRADE_NAME,
            TRAIN_NO
        FROM TRAIN_ROUTE
        ORDER BY DEP_PLAND_TIME
    </select>

</mapper>
