<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.api.mapper.TrainStationApiMapper">

    <resultMap id="TrainStationApiResultMap" type="kr.spring.api.dto.TrainStationApiDto">
        <id property="nodeId" column="NODE_ID"/>
        <result property="nodeName" column="NODE_NAME"/>
        <result property="cityCode" column="CITY_CODE"/>
        <result property="isActive" column="IS_ACTIVE"/>
    </resultMap>

    <select id="getAllStation" resultMap="TrainStationApiResultMap">
        SELECT * FROM TRAIN_STATION
    </select>

    <insert id="insert">
        INSERT INTO TRAIN_STATION
        (NODE_ID, NODE_NAME, CITY_CODE) VALUES (
                                     #{nodeId},#{nodeName},#{cityCode}
                                            )
    </insert>

    <update id="update">
        UPDATE TRAIN_STATION SET
            CITY_CODE = #{cityCode},
            NODE_NAME = #{nodeName}
        WHERE NODE_ID = #{nodeId}
    </update>

    <select id="getStationByCityCode">
        SELECT * FROM TRAIN_STATION WHERE CITY_CODE = #{cityCode}
    </select>
</mapper>
