<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.api.mapper.TrainCityApiMapper">

    <resultMap id="TrainCityCodeResultMap" type="kr.spring.api.dto.TrainCityApiDto">
        <id property="cityCode" column="CITY_CODE"/>
        <result property="cityName" column="CITY_NAME"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO TRAIN_CITY
        (CITY_CODE, CITY_NAME)
        VALUES(
               #{cityCode},
               #{cityName}
              )
    </insert>

    <update id="update">
        UPDATE TRAIN_CITY
        SET
            CITY_NAME = #{cityName}
        WHERE
            CITY_CODE = #{cityCode}
    </update>

    <select id="getAllCityCode" resultMap="TrainCityCodeResultMap">
        SELECT * FROM TRAIN_CITY;
    </select>

</mapper>