<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.wishlist.dao.WishListMapper">
	<resultMap type="kr.spring.wishlist.vo.WishListVO" id="wishListMap">
		<result property="wishListId" column="WISHLIST_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="contentType" column="CONTENT_TYPE"/>
		<result property="contentId" column="CONTENT_ID"/>
		<result property="createdAt" column="CREATED_AT"/>
	</resultMap>

	<insert id="insertWishList" parameterType="kr.spring.wishlist.vo.WishListVO">
		INSERT INTO WISHLIST(
			WISHLIST_ID,
			MEMBER_ID,
			CONTENT_TYPE,
			CONTENT_ID,
			CREATED_AT
		) VALUES(
			WISHLIST_SEQ.NEXTVAL,
			#{memberId},
			#{contentType},
			#{contentId},
			SYSDATE
		)
	</insert>
	
	<delete id="deleteList" parameterType="kr.spring.wishlist.vo.WishListVO">
		DELETE FROM WISHLIST
		WHERE MEMBER_ID = #{memberId} AND CONTENT_ID = #{contentId} AND CONTENT_TYPE = #{contentType}
	</delete>
	
	<select id="selectWishList" parameterType="kr.spring.wishlist.vo.WishListVO" resultMap="wishListMap">
		SELECT 
			*
		FROM WISHLIST
		WHERE MEMBER_ID = #{memberId} AND CONTENT_ID = #{contentId} AND CONTENT_TYPE = #{contentType} AND ROWNUM = 1
	</select>
	
<select id="selectWishListByMemberId" resultMap="wishListMap">
SELECT w.wishlist_id,
       w.member_id,
       CASE w.content_type
            WHEN 32 THEN 'HOUSE'
            WHEN 15 THEN 'CAR'
            ELSE 'UNKNOWN'
       END AS contentType,
       w.content_id,
       r.room_id,
       r.room_name AS title,
       r.description,
       r.image1 AS imageUrl,
       r.price,
       r.room_size,
       r.minimum_capacity,
       r.maximum_capacity
FROM wishlist w
LEFT JOIN house_room_info r
  ON w.content_type = 32 AND w.content_id = r.house_id
LEFT JOIN car c
  ON w.content_type = 15 AND w.content_id = c.car_id
WHERE w.member_id = #{memberId}
</select>







	
</mapper>