<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.qnaQuestion.dao.QnaMapper">
	<insert id="insertQuestion" parameterType="kr.spring.qnaQuestion.vo.QnaQuestionVO">
		INSERT INTO 
		qna_question (question_id, category, title, content, member_id, created_at)
	  	VALUES 
	  	(qna_question_seq.NEXTVAL, #{category}, #{title}, #{content}, #{memberId}, SYSDATE)
	</insert>

</mapper>














