<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_basic}"> 

<head>
<title>이용약관</title>
<link rel="stylesheet" th:href="@{/assets/css/term.css}">


</head>

<body>
	<div layout:fragment="content" class="page-main">

		<div class="terms-wrapper">
			<h1>드가자닷컴(DUGAZA.COM) 이용약관</h1>
			<p class="date">업데이트 날짜: [2025년 6월 30일]</p>

			<h2>1) 회사 소개 및 연락 방법</h2>
			<p>드가자닷컴(DUGAZA.COM)은 Trip.com Travel Singapore Pte. Ltd.가 운영하는 웹사이트
				및 모바일 앱(이하 “웹사이트”)이며, 30 Raffles Place, #29-01 Singapore 048622 에
				위치한 유한회사(이하 “당사”, “당사의” 또는 “회사”)입니다. 당사는 글로벌 온라인 여행사(싱가포르 여행사 라이선스
				No. 02943)입니다.</p>
			<p>문의사항은 온라인 채팅 또는 전화를 통해 당사 고객센터로 연락하시기 바랍니다.</p>

			<h2>2) 이용 약관 소개</h2>
			<p>트립닷컴 웹사이트는 사용자의 여행 정보 수집, 여행 관련 상품 및 서비스 이용 가능 여부 확인 등을 돕고
				있으며, 사용자는 웹사이트를 통해 제3자 공급업체(이하 “공급업체”)에서 제공하는 항공권·호텔·기차표·렌터카·공항
				픽업·액티비티(이하 “여행 상품”)을 예약할 수 있습니다. 또한 일부 국가/지역은 여객선/버스 티켓·크루즈·투어 예약
				서비스를 제공합니다.</p>
			<p>여행 상품을 예약할 때는 관련 공급업체의 이용 약관(예: 항공사 또는 호텔의 이용 약관) 이 본 약관과 별도로
				적용되며, 사용자와 관련 공급업체 간 별도의 구매 계약이 성립되므로 반드시 해당 약관을 읽어보시기를 바랍니다.</p>
			<p>당사는 통신판매중개 서비스 및 부수 서비스만을 제공하며, 사용자와 공급업체 간의 거래를 중개하는 역할만
				수행하므로 사용자가 당사 사이트를 통해 예약한 여행 상품에 대하여 성립하는 구매 계약의 당사자가 아닙니다. 여행 상품에
				대한 책임은 전적으로 공급업체에 있습니다.</p>
			<p>본 약관은 웹사이트 이용 규정 또한 명시하고 있습니다. 본 규정은 당사의 웹사이트에 콘텐츠 업로드, 당사
				웹사이트로 링크 연결 또는 기타 방식을 통한 웹사이트와의 상호작용 발생 시 적용되는 콘텐츠 기준을 포함합니다.</p>
			<p>당사 웹사이트 이용하고 당사를 통해 예약을 완료함으로써, 사용자는 본 이용약관에 동의하고 이를 준수할 것을
				동의합니다. 본 약관(특히, 제10항 책임 사항)을 신중히 읽고, 추후 참고할 수 있도록 사본을 인쇄하여 보관할 것을
				권장합니다. 본 약관에서 이해되지 않는 내용이 있는 경우, 제1항에 명시된 연락처로 문의하시기를 바랍니다. 본 약관에
				동의하지 않는 경우 당사 웹사이트 및 예약 서비스를 이용할 수 없습니다.</p>
			<p>사용자는 법적 구속력을 갖는 계약을 체결할 자격이 있으며(예: 거주 국가의 법적 연령 기준에 부합), 당사
				웹사이트를 합법적인 예약에만 사용할 것을 보증합니다.</p>
			<p>많은 개인을 대리하여 여행 상품을 예약하는 경우, 첫 번째로 표시된 이름의 사용자는 (1) 다른 인원에 대한
				정확한 정보를 제공하고, (2) 이들을 대신하여 본 약관에 동의하고 이를 준수할 것을 보증하며, (3) 예약 확정 페이지에
				명시된 상세 정보를 확인하고, 잘못된 정보가 포함된 경우 즉시 당사에 연락하며, (4) 예약한 상품의 요금 및 관련 추가
				비용을 전액 지불해야 합니다.</p>
			<p>당사는 본 약관을 수정할 수 있으며, 수정하는 경우 본 약관 상단에 마지막으로 업데이트된 날짜를 게시합니다.
				새로운 약관은 게시한 즉시 효력이 발생합니다. 당사 웹사이트를 이용하거나 웹사이트를 통해 예약할 때마다 본 약관을 확인하여
				해당 시점에 적용되는 약관을 숙지하여 주시기를 바랍니다.</p>
			<p>본 웹사이트에 대한 참조는 휴대전화, 태블릿, 기타 디바이스 등 접속한 기기의 종류와 관계없이 링크된 웹사이트
				및 모바일앱을 포함하되 이에 국한하지 않고 모든 파생품을 포함하는 것으로 간주합니다.</p>
			<h2>3) 웹사이트 이용 규정</h2>
			<p>당사는 당사의 웹사이트를 수정할 수 있습니다.</p>
			<p>당사는 변경된 서비스 내용, 이용자의 요청 사항 및 비즈니스 우선순위를 반영하기 위해 당사 웹사이트를
				업데이트하고 변경할 수 있으며, 주요 변경 사항에 대해 합당한 고지를 제공합니다.</p>
			<p>당사는 당사의 웹사이트를 중단 또는 철수할 수 있습니다.</p>
			<p>당사 웹사이트는 별도의 비용 없이 이용할 수 있습니다.</p>
			<p>당사는 웹사이트 및 게시된 콘텐츠가 항상 이용할 수 있거나 중단되지 않는다고 보장하지 않습니다. 사업 및
				운영상의 이유로 웹사이트의 전부 또는 일부의 사용을 일시적으로 중지하거나 철수 또는 제한할 수 있습니다. 중단 또는
				철수하는 경우 이에 대한 적절한 고지를 제공합니다.</p>
			<p>당사 웹사이트는 인터넷 연결 및 기기가 있어야 이용이 가능합니다. 인터넷, 불안정한 시스템 또는 기기, 컴퓨터
				바이러스, 해커 공격 등 합리적 수준에서 당사의 통제를 벗어난 사건, 상황 및 원인으로 인해 웹사이트를 이용할 수 없는
				경우, 당사는 그에 따른 일체의 손실에 대해 어떠한 책임도 지지 않습니다.</p>
			<p>사용자는 필요한 장비(예: 적절한 기기 및 인터넷 연결)를 제공하고, 사용자의 인터넷 연결을 통해 당사
				웹사이트에 접속하는 모든 사용자가 본 약관 및 기타 적용되는 약관을 숙지하고, 이를 준수할 것을 보장할 책임이 있습니다.</p>
			<p>사용자의 계정 세부 사항</p>
			<p>사용자는 당사에 제공한 모든 계정 정보가 진실하고, 정확하며, 현재 유효하고, 완전하다는 점을 보장합니다.</p>
			<p>사용자 계정, 비밀번호 또는 당사의 보안 절차의 일환으로 기타 정보를 선택하거나 제공받는 경우, 이러한 정보를
				기밀로 취급하고, 제3자에게 공개해서는 안 됩니다. 이 정보를 기밀로 취급하지 않아 발생한 손해에 대해 당사는 어떠한
				책임도 지지 않습니다.</p>
			<p>당사의 합리적 견해하에 사용자가 본 약관을 준수하지 않았다고 판단될 시 당사는 법상 허용되는 범위 내에서
				언제든지 사용자가 선택하거나 당사에서 부여한 사용자 계정 및 비밀번호를 비활성화할 수 있습니다.</p>
			<p>본인의 사용자 계정 또는 비밀번호를 다른 사람이 알고 있다는 사실을 인지하거나 의심되는 경우, 제1항에 나와
				있는 연락처로 즉시 당사에 알려야 합니다. 이 경우 계정에 결제 정보를 저장하였었다면, 발생할 수 있는 손실을 줄이기 위해
				결제사로 문의해야 합니다.</p>
			<p>귀하는 당사가 수행할 수도 있는 모든 필요한 사기 방지 또는 자금 세탁 방지 확인에 협조하는 데 동의합니다.</p>
			<p>귀하의 개인 계정과 관련된 정보와 비밀번호의 보안을 유지할 책임은 귀하에게 있습니다. 당사를 통해 귀하의 결제
				수단으로 무단 또는 사기 예약이 이루어진 것으로 의심되는 경우, 즉시 당사 고객센터에 문의해야 하며 당사는 이러한 상황에
				대해 법령상 허용되는 범위 내에서 책임을 지지 않습니다.</p>
			<p>당사의 웹사이트에서 자료를 이용하는 방식</p>
			<p>당사는 웹사이트에 포함된 모든 특허권, 저작권, 상표, 사업명 및 도메인명, 디자인권, 컴퓨터 소프트웨어권,
				데이터베이스권 및 기타 모든 지식재산권(등록 유무에 관계없이)의 소유자 또는 라이선스 보유자로서 이에 대한 모든 권리를
				보호받습니다.</p>
			<p>사용자는 개인적인 용도로 당사 웹사이트 내 어떠한 페이지든 사본을 인쇄하거나 발췌문을 다운로드할 수 있으며,
				당사 웹사이트에 게시된 콘텐츠에 대해 다른 사람들의 관심을 유도할 수 있습니다.</p>
			<p>사용자는 인쇄하거나 다운로드한 자료의 하드 카피 또는 디지털 사본을 어떠한 방식으로도 수정해서는 안 되며,
				일러스트레이션, 사진, 동영상, 오디오 시퀀스 또는 모든 그래픽을 그에 동반하는 텍스트 없이 사용해서는 안 됩니다.</p>
			<p>당사의 콘텐츠에 대한 작성자의 권한(및 모든 확인된 기여자의 권한)은 항상 인정되어야 합니다.</p>
			<p>사용자는 당사 또는 당사 라이선스로부터 사용권을 획득하지 않은 상태에서 당사 웹사이트에 있는 콘텐츠의 일부를
				상업적 목적으로 사용해서는 안 됩니다.</p>
			<p>본 약관을 위반하여 웹사이트의 일부를 인쇄, 복사 또는 다운로드하는 경우, 당사 웹사이트를 이용할 수 있는
				권리가 즉시 중단되며, 사용자는 당사의 뜻에 따라 사용자가 생성한 복사본을 반납하거나 파기해야 합니다.</p>
			<p>당사는 당사가 연결하는 웹사이트에 대한 책임이 없습니다.</p>
			<p>당사 웹사이트에 제3자가 제공한 기타 사이트 및 자료의 링크가 포함된 경우, 해당 링크는 정보 제공 목적으로만
				제공되며, 연결된 웹사이트 또는 링크에서 얻을 수 있는 정보를 당사가 승인한 것으로 해석해서는 안 됩니다.</p>
			<p>당사는 이러한 웹사이트에 게시된 콘텐츠 또는 자료를 통제하는 능력이 없습니다.</p>
			<p>당사는 사용자 제작 콘텐츠를 인정하지 않습니다.</p>
			<p>해당 웹사이트에는 토론방, 게시판, 리뷰 등 다른 이용자가 업로드한 정보 및 자료가 포함될 수 있습니다. 당사는
				이러한 정보 및 자료를 검증하거나 승인하지 않으며, 다른 이용자가 해당 웹사이트에 게시한 의견은 당사의 의견이나 가치관을
				나타내지 않습니다. 당사는 이용자가 아래 명시된 콘텐츠 기준을 위반하여 상호작용 영역을 사용함으로써 발생하는 손실 및
				피해에 대해 법령상 허용되는 범위 내에서 명시적으로 어떠한 책임도 지지 않습니다. 다른 사용자가 업로드한 정보 및 자료에
				대해 불만을 제기하려면 본 약관의 제1항에 명시된 연락처로 당사에 문의하시기를 바랍니다.</p>
			<p>웹사이트 이용 시 사용자 금지 사항</p>
			<p>귀하는 합법적인 목적으로만 당사 웹사이트를 이용할 수 있습니다. 다음의 사례에 해당할 경우 당사의 웹사이트 또는
				서비스를 이용할 수 없으나 이는 예시이므로 이에 국한되지 않습니다.</p>
			<p>· 해당 지역, 국가 또는 국제 법률이나 규정을 위반하는 모든 행위. · 불법, 사기, 무단 또는 악의적인 방식
				또는 불법, 사기, 무단 또는 악의적인 목적이나 영향이 있는 모든 행위. · 미성년자에게 유해하거나 유해 위험이 있는 경우

				· 당사의 콘텐츠 기준에 부합하지 않는 자료를 전송하거나 고의적 수신, 업로드, 다운로드, 사용 및 재사용하는 경우 ·
				의뢰하지 않았거나 허가하지 않은 광고, 홍보물 또는 기타 유사한 형태의 요청(스팸)을 전송하거나 전달을 주선한 경우 ·
				바이러스, 트로이 목마, 웜, 논리 폭탄, 키 자동 기록기, 스파이웨어, 애드웨어, 기타 유해 프로그램, 컴퓨터 소프트웨어
				또는 하드웨어의 작동에 부정적인 영향을 미치도록 설계된 컴퓨터 코드가 포함된 데이터를 의도적으로 보내거나 업로드하는 경우</p>
			<p>또한 사용자는 다음에 동의해야 합니다.</p>
			<p>• 본 약관을 위반하여 당사 웹사이트의 어떠한 부분도 재생산, 복제, 복사 또는 재판매하지 않습니다. • 다음
				항목에 무단으로 접근하거나 간섭, 피해 및 중단을 초래하지 않습니다. · 당사 웹사이트 · 당사 웹사이트가 저장된 모든
				장비 또는 네트워크 · 당사 웹사이트의 제공에 사용되는 모든 소프트웨어 · 제3자가 소유하거나 사용하는 모든 장비,
				네트워크 또는 소프트웨어 · 당사 웹사이트의 정상적인 운영이나 웹사이트에서 행해지는 모든 활동을 방해하거나, 이를 시도하지
				않습니다. · 당사 웹사이트 네트워크에 과도한 데이터 부하를 초래할 수 있는 어떠한 행위도 하지 않습니다.</p>
			<p>콘텐츠 기준</p>
			<p>본 콘텐츠 기준은 사용자가 당사 웹사이트에 참여하는 모든 자료(“기여물”)에 적용됩니다.</p>
			<p>본 콘텐츠 기준은 목적 및 형식을 모두 명시한 대로 준수해야 하며, 기여물의 전체 및 각 부분에 적용됩니다.</p>
			<p>당사는 당사의 자체 재량에 따라 기여물의 콘텐츠 기준 위반 여부를 결정할 수 있습니다.</p>
			<p>기여물은 다음 사항을 준수해야 합니다.</p>
			<p>· 사용자 개인 여행(숙박, 음식점, 항공사, 교통편, 위치, 일반적인 여행 경험)과 관련이 있어야 합니다. ·
				정확해야 합니다(사실을 기술하는 경우). · 진정성이 있어야 합니다(의견을 서술하는 경우). · 기여물이 게시되는 국가에
				적용되는 법을 준수해야 합니다.</p>
			<p>기여물은 다음에 해당하지 않아야 합니다.</p>
			<p>· 타인의 명예를 훼손하는 경우 · 음란, 불쾌하거나 혐오적, 선동적인 경우 · 음란물을 홍보하는 경우 ·
				폭력을 조장하는 경우 · 인종, 성별, 종교, 국적, 장애, 성 정체성 또는 연령에 따른 차별을 조장하는 경우 · 다른
				사람의 저작권, 데이터베이스권, 상표 또는 기타 지적 재산권을 침해하는 경우 · 타인을 기만할 가능성이 있는 경우 ·
				계약상 의무 또는 비밀유지의무와 같이 제3자에 대한 법적 책임을 위반하는 경우 · 적용 가능한 미성년자 보호법 및 규정을
				위반하는 경우 · 불법적인 활동을 장려하는 경우 · 법정의 권위를 모독하는 경우 · 다른 사람의 사생활을 위협, 남용 또는
				침해하거나, 불쾌감 또는 불편, 불필요한 불안감을 유발하는 경우 · 다른 사람을 희롱하고 화나게 하거나, 수치심, 공포감
				또는 불쾌감을 발생할 가능성이 있는 경우 · 다른 사람을 사칭하거나 본인의 신분 또는 다른 사람과의 관계를 왜곡하는 경우

				· 사실과 다름에도 자료를 당사에서 제공한 듯한 인상을 주는 경우 · 저작권 침해 또는 컴퓨터 악용과 같은 불법 또는 범죄
				행위를 옹호하거나 홍보, 선동 또는 지원하는 경우 · 게시되거나 게시될 예정인 문구를 접하는 대중의 구성원이 테러 행위의
				조직, 준비, 선동을 직간접적으로 장려하거나, 이를 유도하는 것으로 이해할 가능성이 있음을 알고 있거나, 그렇게 믿을 만한
				근거가 있거나, 그에 대한 합리적인 근거가 있는 경우 · 광고 또는 기타 서비스 및 다른 사이트에 대한 웹 링크를 홍보하는
				경우 · 국가 안보를 위협하거나 국가 기밀을 유출하는 경우 당사는 사용자가 제공하는 기여물을 게시할 의무가 없으며, 당사의
				단독 재량에 따라 기여물의 웹사이트 게시 여부를 결정할 수 있습니다.</p>
			<p>당사가 사용자 업로드 자료를 사용하도록 사용자가 당사에 제공하는 권한</p>
			<p>귀하가 당사 웹사이트에 콘텐츠를 업로드하거나 게시하는 경우, 귀하는 당사에 웹사이트 및/또는 서비스를 홍보하기
				위해 해당 콘텐츠를 이용하는 것을 포함하여 웹사이트가 제공하는 서비스와 관련하여 그리고 다양한 미디어를 통해, 저작자 표시
				여부와 관계없이 통지하지 않고 해당 콘텐츠를 이용, 복제, 배포, 수정, 각색, 출판, 번역, 2차 저작물 작성 및 표시할
				수 있는 영구적이고 전 세계적이며 비독점적이고 취소 불가능하며 로열티가 없는 양도 가능한 라이선스를 부여하게 됩니다. 또한
				귀하는 콘텐츠에 대한 귀하 또는 당사의 권리 침해에 대해 법적 조치를 취할 수 있는 권리를 당사에 부여합니다. 귀하는
				가능한 범위 내에서 귀하의 콘텐츠에 존재할 수 있는 모든 '저작인격권'(저작자 표시 또는 무결성 권리 포함)을 명시적으로
				포기하고 콘텐츠의 게시, 사용, 수정, 삭제 또는 이용에 대해 이의를 제기하지 않는다는 데 동의합니다. 분명히 하자면
				당사는 귀하에게 통지하지 않고 단독 재량으로 콘텐츠를 삭제할 수 있는 권리를 보유합니다.</p>
			<p>웹사이트에 있는 콘텐츠 중 일부라도 지식재산권을 침해한다고 생각되는 경우, 본 약관의 제1항에 명시된 연락처로
				당사에 문의하십시오.</p>
			<p>당사는 바이러스에 대한 책임이 없으며, 사용자는 바이러스를 들여올 수 없습니다</p>
			<p>당사는, 당사의 고의나 중과실이 없는 이상, 당사 웹사이트의 보안 및 버그, 바이러스로부터 안전함을 보장하지
				않습니다.</p>
			<p>당사 웹사이트에 접근할 수 있는 정보 기술, 컴퓨터 프로그램 및 플랫폼 구성에 대한 책임은 사용자에게 있으며,
				바이러스 방지 소프트웨어를 자체적으로 사용해야 합니다.</p>
			<p>사용자는 바이러스, 트로이 목마, 웜, 논리 폭탄 또는 유해하거나 기술적으로 위험한 기타 자료를 고의로 설치하여
				당사 웹사이트를 악용해서는 안 됩니다. 당사 웹사이트 및 웹사이트가 저장된 서버 또는 기타 서버, 컴퓨터, 웹사이트에
				연결된 데이터베이스에 무단 접근을 시도해서는 안 됩니다. 사용자는 디도스(서비스 거부) 공격 또는 분산형 디도스 공격을
				통해 웹사이트를 공격해서는 안 됩니다.</p>
			<p>당사의 사이트 연결에 관한 규칙</p>
			<p>사용자는 공정하고 합법적인 방법으로 당사의 평판을 훼손하거나 이용하지 않는다는 전제하에 당사의 홈페이지를 연결할
				수 있습니다.</p>
			<p>사용자는 당사와 관련하여 사실과 다른 연관, 승인 및 보증을 암시하는 링크를 설정해서는 안 됩니다.</p>
			<p>사용자가 소유하지 않은 웹사이트에 당사의 사이트 링크를 설정할 수 없습니다.</p>
			<p>다른 사이트에 당사 웹사이트를 별도의 영역으로 게시하거나, 당사 사이트 홈페이지 외 웹사이트의 어느 부분에
				대해서도 링크를 생성할 수 없습니다.</p>
			<p>당사는 사전 고지 없이 링크 허가를 철회할 수 있습니다.</p>


			<h2>4) 일반 예약 약관 (모든 여행 상품에 적용)</h2>
			<p>세부 정보 및 가격</p>
			<p>예약 시 제공한 모든 세부 정보(이름, 신분증 정보, 연락처, 결제 정보 및 날짜 등)는 정확하고 완전해야
				합니다. 실수로 잘못된 정보를 제공한 경우, 이를 당사에 알리면 예약 정보를 수정할 수 있도록 도와드립니다. 단,
				공급업체에서 이를 허용하는 경우에만 가능하며, 특히 변경 사항이 신분상의(예시: 이름, 성별 등) 변경에 해당하는 경우는
				변경을 100% 보장할 수 없습니다. 당사는 다량의 여행 상품을 광고하고 있으며, 광고된 가격이 항상 정확한지 확인하기
				위해 노력하지만, 간혹 오류가 발생할 수 있습니다. 합리적인 판단하에 오류가 명백한 경우, 당사는 공급업체와 협의하여 해당
				예약을 취소하거나 가격을 변경(예약자가 동의한 경우)할 수 있습니다. 이와 같은 상황이 발생할 시 당사에서 연락드립니다.</p>
			<p>예약 절차</p>
			<p>예약 요청을 완료하면 당사로부터 예약 확정 이메일이 발송됩니다. 예약 확인 메일에 기재된 세부 사항을 확인하고,
				해당 세부 사항이 잘못된 경우 즉시 당사에 연락해야 합니다. 항공편 및 호텔 예약 확인에 대한 자세한 내용은 아래 관련
				항을 참조하시기를 바랍니다. 예약마다 트립닷컴 예약 번호를 부여합니다. 예약과 관련하여 당사에 문의하는 경우, 해당
				트립닷컴 부여한 예약 정보를 알려주시면 더 편리하게 도움을 받을 수 있습니다. 예약 서비스 이용 시 다음 사항은
				금지됩니다. · 유효하지 않은 은행 카드 또는 계좌, 사용 권한이 없는 은행 카드 또는 계좌를 사용하는 경우 · 다른
				사람을 사칭하거나 본인의 신분 또는 다른 사람과의 관계를 잘못 표기하는 경우 · 법률 및 규정, 규제 요건을 위반하는 경우

				여행 상품 예약은 예약 시점의 이용 가능 여부에 따라 결정됩니다. 당사는 웹사이트에 최신 정보를 업데이트하기 위해 최선을
				다하고 있지만, 당사 웹사이트에 있는 모든 여행 상품이 예약 시점에 항상 이용 가능한 상태임을 보장할 수는 없습니다.
				예약한 후 어떤 이유로든 당사 웹사이트에 있는 여행 상품을 이용할 수 없게 되는 경우, 최대한 이른 시일 내에 사용자에게
				연락드립니다. 당사는 예약의 유효성 또는 확정을 위해 추가 정보 또는 확인을 요구할 권리를 보유합니다. 귀하가 요청한
				정보를 제공하지 않거나 제공한 정보가 불만족스러운 경우, 예약 요청이 불완전한 것으로 간주하여 취소됩니다. 확인 중에
				상품을 이용할 수 없는 경우도 있으며, 이에 따라 예약이 취소될 수 있다는 점에 유의하시기를 바랍니다. 귀하는 이러한
				경우에 당사가 어떠한 손실이나 비용에 대해서도 책임을 지지 않음을 인정하고 이에 동의합니다.</p>
			<p>결제 및 통화</p>
			<p>여행 상품을 예약하면 예약 과정에서 결제 조건이 명확하게 표시됩니다. 일부 예약은 온라인 사전 결제를 해야
				하며, 일부 예약은 여행 상품 이용 시(예: 숙소 체크인 시)에 결제해야 합니다. 예약 조건에 맞게 전액을 결제하지 않은
				경우, 당사는 즉시 예약을 취소할 수 있습니다. 여기에는 사용자 패턴이나 예약에 사기 징후가 보이거나, 어떤 이유로든 결제
				수단을 통해 청구가 이루어지지 않는 경우가 포함됩니다.</p>
			<p>환율은 실시간으로 계산됩니다. 온라인으로 선불 결제하는 경우 결제 페이지에 표시된 정확한 금액을 결제해야
				합니다. 단, 다른 통화로 지불하는 경우 계좌 발급업체에서 대체 환율을 적용할 수 있으므로 반드시 확인해야 합니다. 계좌
				발급업체에서 해외 결제에 대해 수수료를 부과할 수 있으며, 여행 상품 이용 시 현장에서 결제하는 경우(예: 호텔 체크인),
				결제 시점 환율이 예약 시점과 다를 수 있습니다.</p>
			<p>결제 시 문제가 발생하는 경우 결제를 다시 시도하지 마시기를 바랍니다. 본 약관 제1항에 나와 있는 연락처로
				당사에 문의하여 예약이 성공적으로 이루어졌는지 확인하시기를 바랍니다. 환불은 일반적으로 최초 결제에 사용한 방식을 통해
				처리가 진행됩니다. 환불 금액이 계좌로 반환되는 일시는 계좌 발급업체에 따라 상이할 수 있습니다. 당사는 사용자의 개인
				정보 및 결제 정보에 대한 보안을 최우선으로 생각하며, 안전하게 보관할 수 있도록 강력한 보안 조치를 시행하고 있습니다.</p>
			<p>여행 준비</p>
			<p>여행에 필요한 보험 및 필수 여행 서류가 모두 구비되었는지 확인하시기를 바랍니다. 해당 서류에는 여권/신분증,
				비자 및 병원 기록(예: 예방접종 증명서) 등이 포함됩니다(이에 국한되지 않음).</p>
			<p>특정 목적지로의 또는 목적지의 여행 상품을 제공하더라도, 당사는 해당 목적지로의 여행 또는 해당 목적지에서의
				여행이 위험이 없음을 권고하거나 보장하지 않습니다. 사용자는 반드시 예약 또는 여행 전에 여행하려는 목적지의 여행 경고 및
				제한 사항을 확인해야 합니다.</p>
			<p>여행 시 필요한 예방 접종을 받고, 담당 주치의의 조언에 따르는 것은 본인 책임입니다.</p>
			<p>서비스 보장제</p>
			<p>당사의 서비스 보장제에 대한 자세한 내용은
				https://kr.trip.com/pages/customer-service/에서 확인할 수 있습니다.</p>
			<p>회원가입 및 트립코인</p>
			<p>트립닷컴 회원으로 등록하면 회원 등급별 혜택 및 트립코인 적립 혜택이 주어집니다. 자세한 내용 및 이에 적용되는
				약관은 https://kr.trip.com/customer/points/faq?locale=ko_kr에서 확인할 수
				있습니다.</p>

			<h2>5) 항공권 약관</h2>
			<p>항공사 이용 약관</p>
			<p>당사는 통신판매중개업자로서 사용자와 공급업체 간의 항공편 예약을 중개하는 역할만 수행하므로 사용자가 당사
				사이트를 통해 예약한 항공편에 대하여 성립하는 구매 계약의 당사자가 아닙니다. 사용자의 예약에 대해 관련 공급업체(이 경우
				항공사 및 그 대행사)의 약관이 적용되며, 일반적으로 해당 약관은 항공사 공식 웹사이트에서 확인할 수 있습니다. 당사는
				공급업체와의 커뮤니케이션이 원활하게 이루어지도록 고객에게 도움을 제공할 수 있으나, 이것이 항공편의 판매 그에 따른 서비스
				제공 및 이에 수반되는 사항에 대하여 당사가 책임을 진다는 뜻은 아닙니다.</p>
			<p>예약 절차</p>
			<p>결제가 확인되면 트립닷컴에서 '항공편 결제 완료' 이메일을 보내드립니다. 이메일의 세부 정보를 확인하고 내용이
				정확하지 않으면 즉시 알려주셔야 합니다. 트립닷컴은 예약 절차 과정에서 안내드린 시간 내에, 그리고 '항공편 결제 완료'
				이메일에 명시된 내용에 따라 항공권을 발권하기 위해 합리적인 노력을 기울입니다. 해당 시간 내에 항공권이 발권되지 않으면
				본 약관 1조에 명시된 세부 정보의 연락처를 사용하여 문의해 주시기 바랍니다.</p>
			<p>항공권이 발권되면 여행 일정 및 전자 영수증이 포함된 '항공편 예약 확정' 이메일을 보내드립니다. 더 저렴한
				항공권을 선택한 경우 항공권 발권에 시간이 조금 더 걸릴 수 있습니다. 이는 예약 절차 중에 안내되며 상품 상세 페이지에
				표시됩니다. 또한 항공편 출발 3일 전까지 항공권을 예약하는 경우 출발 72시간 전까지 항공권이 발권되며 예약 과정에서 이
				점을 강조하여 안내해 드립니다.</p>
			<p>항공권은 체크인 시 사용할 수 있는 e티켓 형태로 제공됩니다.</p>
			<p>트립닷컴은 예약에 트립닷컴 예약 번호를 할당하고 이를 '항공편 결제 완료' 이메일을 통해 알려드립니다. 예약
				관련 문의 시 트립닷컴 예약 번호를 알려주시면 도움이 됩니다. 항공권이 발권되면 '항공편 예약 확정' 이메일에 항공사의
				예약 참조 번호(또는 이와 유사한 정보)도 함께 제공됩니다. '항공편 예약 확정' 이메일에 해당 정보가 포함되어 있지
				않으면 본 약관 1조에 명시된 세부 정보의 연락처를 사용하여 문의해 주시기 바랍니다</p>
			<p>일정 변경 및 취소</p>
			<p>예약 진행 시 항공권을 일정 변경 및 취소할 수 있는 권리(관련 비용 포함)에 대한 정보를 제공합니다. 일부
				항공권을 선택하는 경우 일정 변경 또는 환불이 불가할 수 있습니다. 해당 정보는 예약을 확정하기 전에 반드시 읽어보시기를
				바랍니다. 해당 정보는 “항공권 발권 완료 안내” 이메일에 표시된 링크 또는 당사 웹사이트에서 로그인하여 예약 정보
				페이지에서 확인할 수 있습니다. 일정 변경 또는 취소 후 환불이 가능한 경우, 당사 웹사이트에 로그인하여 예약 정보
				페이지에서 요청하거나 본 약관 제1항에 나와 있는 연락처로 연락하여 일정 변경 또는 취소를 요청할 수 있습니다. 분명히
				하자면, 당사는 날짜 변경 또는 취소의 의무가 있는 것은 아니고, 항공사의 날짜 변경 또는 취소 의무 이행 과정을 당사의
				웹사이트를 통해 지원할 뿐입니다 트립닷컴 계정이 없는 경우, 예약 정보 페이지에서 예약에 사용한 이메일 주소로 당사
				웹사이트에서 항공권 일정 변경 또는 환불을 요청(가능한 경우)할 수 있습니다. 항공권 일정 변경이 가능하더라도 항공사 또는
				제3자 항공권 공급업체에 따라 변경 가능한 항공편이 제한될 수 있으며, 이 경우 당사 웹사이트에 나와 있는 모든 옵션을
				이용하지 못할 수 있습니다. 항공권 일정 변경을 요청하면, 이용 가능한 옵션에 대한 정보를 제공해 드립니다. 관련 항공사가
				항공권을 일정 변경 또는 취소하는 경우, 해당 항공사의 정책이 적용되니 해당 항공사의 약관을 확인해주시기를 바랍니다.</p>
			<p>항공권 관련 중요 정보</p>
			<p>가능한 경우 다음 정보를 제공합니다. · 탑승 수속 및 탑승 시간 · 좌석 지정 · 수하물 허용 한도 및 제한
				규정 · 어린이/유아 항공권 온라인 예약 가능 여부 이와 같이 항공권에 적용되는 정보는 예약 과정에서 제공하고 있습니다.
				단, 정확한 내용은 항상 해당 항공사의 공식 웹사이트를 확인하시기를 바랍니다. 다음과 같은 정보의 경우, · 탑승객의 비행
				적합성 (예: 노인, 임산부, 유아 탑승객) · 리튬 배터리, 위험물 및 액체를 소지한 탑승객에 대한 규정 · 출발 전
				특별식 또는 특별 서비스 신청 항공사마다 정책이나 규정이 다르므로 자세한 내용은 해당 항공사 웹사이트를 확인하시기를
				바랍니다. 어린이/유아 항공권 예약 방법에 대한 문의 사항 또한 당사로 연락하시기를 바랍니다. 탑승수속 및 여권 심사,
				보안 검색대 통과를 위해 공항 터미널에 충분한 여유시간을 두고 미리 도착하는 것을 권장해 드립니다. 여행 전에 반드시
				여행에 필요한 서류(예: 여권/신분증 및 비자)를 준비해야 합니다.</p>
			<p>항공권은 여정표에 명시된 순서에 따라 사용해야 하며, 그렇지 않을 경우 해당 항공사에서 탑승수속 또는 탑승을
				거부할 수 있습니다. 예를 들면, 가는 편 항공권을 사용하지 않은 경우 항공사에서는 오는 편 항공권 사용을 거부할 수
				있습니다. 항공사마다 정책이나 규정이 다르므로 자세한 내용은 해당 항공사 웹사이트를 확인하시기를 바랍니다.</p>
			<p>자가 환승 패키지</p>
			<p>항공권에 “자가 환승 패키지”가 포함된 경우, 해당 항공권에 당사의 자가 환승
				보장제(https://kr.trip.com/trip-page/guarantee-detail.html?locale=ko-kr)
				섹션에 명시된 약관이 적용됩니다. “자가 환승 패키지”가 포함된 항공권을 예약하는 경우 이 약관에 동의하는 것으로
				간주합니다. 보장 범위 및 혜택을 받기 위한 요구사항이 명시되어 있으므로 주의 깊게 읽어보시기를 바랍니다.</p>
			<p>“자가 환승 패키지”가 포함된 항공권을 예약하기 전에, 개인 일정을 고려하여 연결 항공편으로 환승하는 데
				소요되는 여유시간이 충분한지 확인해야 합니다. 예약한 항공권에 “자가 환승 패키지”가 포함되어 있는지 명확하지 않은 경우,
				본 약관 제1항에 나와 있는 연락처로 당사에 문의하시기를 바랍니다.</p>


			<h2>6) 호텔 약관</h2>
			<p>호텔 이용 약관</p>
			<p>당사는 통신판매중개업자로서 고객과 공급업체 간의 호텔 예약을 중개의 역할만 수행하므로, 사용자가 당사 사이트를
				통해 예약한 호텔 상품에 대하여 성립하는 구매 계약의 당사자가 아닙니다. 사용자의 예약에 대해 관련 공급업체(이 경우
				숙박하는 호텔 및 그 대행사)의 약관이 적용되며, 일반적으로 해당 약관은 호텔 웹사이트에서 확인할 수 있습니다. 당사는
				공급업체와의 커뮤니케이션이 원활하게 이루어지도록 고객에게 도움을 제공할 수 있으나, 이것이 여행 상품 또는 공급업체가
				하거나 하지 않는 일에 대해 당사가 책임을 진다는 뜻은 아닙니다.</p>
			<p>예약 절차</p>
			<p>예약 진행 시 사용자에게 공지한 기간 내에 호텔 예약을 확정할 수 있도록 최선의 노력을 다할 것입니다. 당사
				대부분의 객실은 즉시 확정이 가능합니다. 예약이 확정되는 즉시 이메일을 통해 안내해 드리며, 이후부터는 객실이 보장됩니다.
				사용자의 예약을 확정할 수 없는 경우에 관해서는 해당 호텔의 약관 및 정책에 따라 환불 등 조치가 있을 수 있습니다. 호텔
				예약이 확정된 이후에 호텔에 직접 연락했으나 해당 호텔에서 예약을 찾을 수 없는 경우에도 우려할 필요가 없습니다. 예약은
				여전히 보장되며, 예약 날짜에 근접할 때까지 사용자의 개인정보가 호텔로 아직 전달되지 않았을 수 있습니다. 문제 발생 시
				본 약관 제1항에 명시된 연락처로 당사에 문의하시기를 바랍니다.</p>
			<p>예약 변경 및 취소</p>
			<p>예약 진행 시 호텔 예약을 변경 및 취소할 수 있는 권리(관련 비용 포함)에 대한 정보를 제공합니다. 일부
				객실을 선택하는 경우 변경 또는 환불이 불가할 수 있습니다. 해당 정보는 반드시 예약 요청 완료 전에 읽어 보시기를
				바랍니다. 변경이 가능하더라도 해당 호텔 또는 제3자 호텔 공급업체의 상황에 따라 변경 가능한 호텔 또는 객실이 제한될 수
				있으며, 이 경우 당사 웹사이트에 나와 있는 모든 옵션 또는 대체 객실을 이용하지 못할 수 있습니다. 호텔 예약 변경을
				요청하면 이용 가능한 옵션에 대한 정보를 제공해 드립니다.</p>
			<p>해당 호텔이 예약을 변경 또는 취소하는 경우, 해당 호텔의 정책이 적용되니 해당 호텔의 약관을 확인해 주시기를
				바랍니다. 본 약관 제1항에 나와 있는 연락처로 당사에 직접 문의하시면, 고객센터에서 최선을 다해 도와드리겠습니다.</p>
			<p>호텔 성급</p>
			<p>당사의 이용 후기는 사용자의 승인된 리뷰를 기반으로 하며, 당사의 호텔 성급은 호텔에서 직접 제공한 정보(예:
				호텔 소재 국가/지역에서 적용하는 호텔 성급 기준), 편의시설, 사진, 이용 후기, 가격을 조합하여 결정됩니다. 해당
				정보는 호텔의 표준을 나타내는 최선의 방식으로, 사용자는 해당 성급이 단순 표시 방식이며 국가/지역에 따라 표준이 상이함을
				인정하고, 예약 전 호텔의 수준에 만족할 수 있도록 당사 웹사이트에서 제공하는 모든 정보를 읽을 책임이 있습니다.</p>

			<h2>7) 기차표 약관</h2>
			<p>철도회사 이용 약관</p>
			<p>당사는 통신판매중개업자로서 고객과 공급업체 간의 기차표 예약을 중개하는 역할만 수행하므로, 사용자가 당사
				사이트를 통해 예약한 기차표에 대하여 성립하는 구매 계약의 당사자가 아닙니다. "이용 약관 소개"에서 명시한 바에 따라,
				기차표 예약은 관련 공급업체(이 경우 철도회사 약관)의 약관이 적용되며, 예약 과정에서 해당 정보를 명시합니다. 다음은 각
				국가/지역의 철도회사 정보입니다.</p>
			<p>영국: https://www.nationalrail.co.uk/times_fares/46427.aspx 독일:
				https://www.bahn.com/en/view/home/info/gtc.shtml 국내:
				https://pages.trip.com/trains/terms-ko-KR.html 중국 기차표 중국 내 여행을 위해
				기차표를 예약하는 경우 다음 약관이 적용됩니다.
				https://kr.trip.com/trains/new/trainTicketPolicy/?locale=ko-KR</p>
			<p>기차표 변경 및 취소</p>
			<p>기차표를 변경 또는 취소할 수 있는 권리에 대한 정보는 관련 철도회사의 약관을 확인하시기를 바랍니다. 예약 진행
				과정에서 사용자의 권리에 대한 일부 정보를 제공했을 수 있습니다.</p>
			<p>관련 철도회사가 예약을 변경 또는 취소하는 경우 일반적으로 해당 철도회사의 정책이 적용되니 해당 철도회사의
				약관을 확인해 주시기를 바랍니다. 본 약관 제1항에 명시된 연락처로 당사에 직접 문의하시면, 고객센터에서 최선을 다해
				도와드리겠습니다.</p>
			<p>분할 기차표(영국에 한함)</p>
			<p>여행을 위해 분할 기차표를 예약한 경우, 해당 여정에 대해 1장 이상의 기차표가 발권됩니다. 기차표 변경 또는
				취소 시 관련 철도회사서 부과하는 수수료는 여정에 포함된 모든 구간의 기차표에 각각 적용됩니다.</p>
			<p>분할 기차표의 경우 예약 과정에서 분할 기차표와 관련한 정보를 알려드립니다. 분할 기차표인지 확실하지 않은 경우
				본 약관 제1항에 명시된 연락처로 당사에 문의하시기를 바랍니다.</p>
			<p>열차 환승</p>
			<p>여행 일정상 열차 환승이 필요한 경우, 당사는 열차 환승 시 충분한 시간을 확보할 수 있는 여정의 기차표만
				제안드리기 위해 최선을 다합니다. 개인 일정에 무리가 없도록 열차 환승을 위한 여유시간이 충분한지 확인하시기를 바랍니다.</p>

			<h2>8) 액티비티 (어트랙션, 공항 픽업, 렌터카 등 당사 웹사이트에 있는 기타 상품)</h2>
			<p>공급업체 이용 약관</p>
			<p>당사는 통신판매중개업자로서 고객과 공급업체 간의 액티비티 예약을 중개하는 역할만 수행하므로, 사용자 가 당사
				사이트를 통해 예약한 액티비티에 대하여 성립하는 구매 계약의 당사자가 아닙니다. "이용 약관 소개"에서 명시한 바에 따라,
				사용자의 예약에 대해 관련 공급업체(렌터카 업체 등)의 약관이 적용되며, 일반적으로 해당 약관은 각 공급업체 웹사이트에서
				확인할 수 있습니다. 가능한 경우 예약 과정의 결제 단계에서 해당 약관에 대한 링크를 제공합니다.</p>
			<p>예약 변경 및 취소</p>
			<p>예약을 변경 및 취소할 수 있는 권리에 대한 정보는 관련 공급업체의 약관을 확인하시기를 바랍니다. 예약 진행 시
				사용자 권리에 대한 일부 정보를 제공했을 수 있습니다.</p>
			<p>해당 공급업체가 예약을 변경 또는 취소하는 경우 일반적으로 해당 업체의 정책이 적용되니 해당 업체의 약관을
				확인해 주시기를 바랍니다. 본 약관 제1항에 명시된 연락처로 당사에 직접 문의하시면, 고객센터에서 최선을 다해
				도와드리겠습니다.</p>
			<h2>9) 당사의 사용자 개인정보 이용 방법</h2>
			<p>사용자의 개인정보는 당사의 개인정보처리방침에 따라 수집·이용·보관됩니다.</p>
			<p>
				개인정보 처리 관련 세부 내용은 <a
					href="https://pages.trip.com/service-guideline/privacy-policy-ko-kr.html"
					target="_blank">여기</a>에서 확인할 수 있습니다.
			</p>

			<h2>10) 법적 책임</h2>
			<p>사용자의 손실 및 피해에 대한 당사의 책임</p>
			<p>..당사 웹사이트에 게시된 정보의 대부분은 관련 공급업체에서 제공하거나, 여행 상품에 대한 후기를 남긴 사용자가
				제공한 정보입니다. 당사는 법이 허용하는 범위 내에서 해당 정보의 정확성 및 완전성을 보장하기 위해 최선을 다합니다. 단,
				해당 정보의 부정확성 또는 불완전성으로 인해 발생한 손실이나 피해에 대해 당사는 어떠한 책임도 지지 않습니다. 당사
				웹사이트가 사용자에게 제공하는 정보에 대해 당사는 어떠한 진술, 보증 또는 조건도 제공하지 않으며, 이에 대한 진술, 보증
				및 조건은 제외됩니다. 단, 이와 같은 제외가 법으로 금지되는 경우는 예외 대상입니다. 법이 허용하는 범위 내에서 다음과
				같은 결과로 발생한 사용자의 손실 또는 손해에 대해 당사는 어떠한 책임도 지지 않습니다. · 예약 시 잘못된 정보(이름,
				신분증 정보, 국적, 연락처, 결제 정보, 날짜 및 시간 등)를 제출한 경우. 이에는 다음과 같은 사유로 인해 발생한 손실
				및 피해 또한 포함됩니다. · 잘못된 연락처 정보를 제공하여 예약 관련 중요 정보를 전달할 수 없는 경우 · 예약 시
				제공한 신분증 정보(국적 등)와 실제 신분증 정보가 일치하지 않아 여행 상품(예: 항공기 또는 열차 탑승, 호텔 체크인,
				렌터카/공항 픽업/액티비티 서비스 등)을 이용할 수 없는 경우 · 여권, 비자, 예방접종 증명서 등 여행 상품 예약 시
				요구하는 정확한 서류를 사용하지 못한 경우 · 여행에 필요한 적절한 보험에 가입하지 못한 경우 · 다음과 같은 사유로 여행
				상품(예: 항공기 또는 열차 탑승, 호텔 체크인, 렌터카/공항 픽업/액티비티 서비스 등)을 이용할 수 없는 경우 · 관련
				공급업체의 이용 약관을 준수하지 않은 경우 · 예정된 시간에 도착하지 않거나 탑승수속, 탑승(해당되는 경우) 또는 여권
				심사 및 보안 검색대 통과를 위한 충분한 여유시간을 확보하지 않은 경우 · 해당 공급업체에서 용납할 수 없다고 간주한
				행위를 행사한 경우 · 여정에 항공편/열차 환승, 버스, 유람선 이용이 포함된 경우, 본인의 실수로 인해 다음 항공편,
				열차, 버스, 유람선에 탑승하지 못한 경우 · 소지한 할인 카드(예: 레일카드)가 선택한 여정에 사용이 유효하지 않은 경우

				· 사용자 본인 과실로 인해 예약을 요청한 경우(중복 예약 포함) · 계좌 발급업체에서 해외 결제 시 수수료를 부과하는
				경우, 다른 통화로 결제 시 계좌 발급업체에서 대체 환율을 기준으로 하는 경우, 결제 시점 환율이 예약 시점과 다른 경우

				· 사용자가 관련 공급업체와 직접적으로 소통한 경우 · 이용 후기 및 호텔 성급이 정확하지 않은 경우 · 거짓된,
				부정확한, 오래된, 완전하지 않은 결제 정보를 제공한 경우 · 이용자가 본 약관에 명시된 콘텐츠 기준을 위반하여 웹사이트의
				상호작용 영역을 사용하는 경우 · 여행 경보 또는 여행 제한이 발령된 지역 또는 그 주변을 여행하는 경우 · 다음과 같이
				당사의 통제 범위를 벗어난 사건이 발생한 경우 · 천재지변, 홍수, 가뭄, 지진 또는 기타 자연재해 · 전염병 또는 전
				세계적 감염병 · 테러, 전쟁, 사회적 혼란 또는 폭동, 전쟁의 위협 또는 준비, 무력 충돌, 제재 시행, 금수조치 또는
				외교 관계 단절 · 핵, 화학 또는 생물학적 오염 또는 소닉 붐 · 정부 또는 공공 기관의 법률 및 조치 · 인터넷,
				시스템 또는 기기의 불안정, 컴퓨터 바이러스 및 해커 공격 당사는 국내 및 개인적 목적으로만 웹사이트를 제공하므로 상업적
				또는 사업적 목적으로 당사 웹사이트를 사용할 수 없으며, 당사는 사용자에게 발생한 이익 손실, 사업 손실, 사업 중단 또는
				사업 기회 손실에 대해 어떠한 책임도 지지 않습니다.</p>
			<p>본 이용약관의 위반</p>
			<p>본 약관을 준수하지 않거나 관련 법률 또는 규정을 준수하지 않을 경우, 당사는 사전 통지 없이 언제든지 다음
				조치를 전부 또는 일부 취할 수 있습니다. · 공급업체와 협의하여 귀하의 이름, 이메일 주소 또는 계정과 관련된 모든
				예약을 거부 또는 취소. · 적립 중이거나 이전에 적립한 트립코인, 쿠폰, 인센티브, 프로모션 리워드 또는 기타 혜택을
				취소 또는 철회. · 법상 허용되는 범위 내에서 당사 웹사이트 또는 예약 서비스를 이용할 사용자의 권리를 즉각적으로,
				일시적으로 또는 영구적으로 철회 · 당사 웹사이트에 사용자가 업로드한 모든 기여물을 즉각적으로, 일시적으로 또는 영구적으로
				철회 · 사용자 측에 경고장 발부 · 본 약관 위반으로 인해 발생한 모든 비용(합리적 수준의 행정 및 법률 비용 등)에
				대해 사용자에게 손해배상 청구 소송 · 사용자에 대한 추가 법적 조치 · 당사가 합리적으로 필요하다고 생각하거나 법적
				요구사항에 따라 법 집행 기관에 관련 정보 공개. · 기타 당사의 재량에 따라 적절하다고 판단되는 기타 조치. 귀하는
				당사가 본인이 본 약관을 준수하지 않아 발생하는 손실이나 손해에 대해 책임지지 않음에 동의합니다. 본 약관에 부합하지 않는
				웹사이트 및/또는 예약 서비스 이용으로 인해 당사가 입은 모든 손실에 대한 책임은 귀하에게 있습니다. 당사가 귀하의 예약을
				취소하는 경우, 당사의 재량에 따라 취소 사유를 공개하는 것이 (a) 관련 법률을 위반하거나 (b) 사기 또는 기타 불법
				행위의 적발 또는 예방에 방해가 되는 경우 취소 사유를 밝히지 않을 수 있습니다. 공급업체의 약관에서 환불을 허용하지 않는
				경우, 예약을 취소하여도 환불을 받지 못할 수도 있습니다. 구체적인 사유는 공급업체의 약관을 확인해 주시기를 바랍니다.
				당사 서비스에 대한 귀하의 액세스가 거부되는 경우 귀하는 다른 이름으로 또는 다른 사용자를 통해 당사 웹사이트 또는
				서비스를 이용하려고 시도하지 않는다는 데 동의합니다. 예약이 잘못 취소되었다고 생각되거나 환불을 받을 자격이 있다고
				생각되면 고객센터에 문의하시기를 바랍니다. 귀하는 이 경우 당사가 어떠한 손실이나 비용에 대해서도 책임지지 않음을 인정하고
				이에 동의합니다.</p>

			<h2>11) 불만 제기</h2>
			<p>불만이나 문의 사항이 있는 경우, 제1조에 명시된 연락처로 고객센터에 문의하셔야 합니다.</p>

			<h2>12) 분쟁 발생 시 적용되는 국가 법률</h2>
			<p>이 약관은 싱가포르 법률을 따르며, 모든 분쟁은 싱가포르 법원의 독점적 관할권에 따릅니다.</p>

			<h2>13) 일반사항</h2>
			<p>본 약관은 사용자와 당사 간의 계약이며, 제3자는 본 약관을 집행할 권리가 없습니다.</p>
			<p>일부 조항이 무효 판정을 받아도 나머지 조항은 계속 유효합니다.</p>


		</div>

	</div>
</body>
</html>
