<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.api.mapper.EventContentMapper">

    <!-- 이벤트 테이블 생성 (없는 경우) -->
    <update id="createEventContentTableIfNotExists">
        DECLARE
            v_cnt NUMBER;
        BEGIN
            SELECT COUNT(*) INTO v_cnt FROM user_tables WHERE table_name = 'EVENT_CONTENT';
            IF v_cnt = 0 THEN
                EXECUTE IMMEDIATE '
                CREATE TABLE EVENT_CONTENT (
                    id NUMBER PRIMARY KEY,
                    contentid VARCHAR2(20) UNIQUE,
                    contenttypeid VARCHAR2(10),
                    title VARCHAR2(200),
                    addr1 VARCHAR2(200),
                    addr2 VARCHAR2(200),
                    zipcode VARCHAR2(10),
                    tel VARCHAR2(500),
                    cat1 VARCHAR2(10),
                    cat2 VARCHAR2(10),
                    cat3 VARCHAR2(10),
                    areacode VARCHAR2(10),
                    sigungucode VARCHAR2(10),
                    mapx VARCHAR2(30),
                    mapy VARCHAR2(30),
                    firstimage VARCHAR2(500),
                    firstimage2 VARCHAR2(500),
                    eventstartdate VARCHAR2(20),
                    eventenddate VARCHAR2(20),
                    createdtime VARCHAR2(20),
                    modifiedtime VARCHAR2(20),
                    cpyrhtDivCd VARCHAR2(10),
                    mlevel VARCHAR2(10),
                    created_at TIMESTAMP DEFAULT SYSTIMESTAMP,
                    updated_at TIMESTAMP DEFAULT SYSTIMESTAMP
                )';
                
                EXECUTE IMMEDIATE 'CREATE SEQUENCE EVENT_CONTENT_SEQ START WITH 1 INCREMENT BY 1';
            ELSE
                -- 기존 테이블이 있는 경우 tel 컬럼의 크기를 500으로 변경
                BEGIN
                    EXECUTE IMMEDIATE 'ALTER TABLE EVENT_CONTENT MODIFY (tel VARCHAR2(500))';
                    DBMS_OUTPUT.PUT_LINE('tel 컬럼 크기를 500으로 변경했습니다.');
                EXCEPTION
                    WHEN OTHERS THEN
                        DBMS_OUTPUT.PUT_LINE('tel 컬럼 크기 변경 중 오류 발생: ' || SQLERRM);
                END;
            END IF;
        END;
    </update>
    
    <!-- 이벤트 데이터 삽입 또는 업데이트 -->
    <insert id="insertOrUpdateEventContent" parameterType="kr.spring.api.dto.EventContentApiDto">
        MERGE INTO EVENT_CONTENT ec
        USING DUAL ON (ec.contentid = #{contentid})
        WHEN MATCHED THEN
            UPDATE SET
                contenttypeid = #{contenttypeid},
                title = #{title},
                addr1 = #{addr1},
                addr2 = #{addr2},
                zipcode = #{zipcode},
                tel = #{tel},
                cat1 = #{cat1},
                cat2 = #{cat2},
                cat3 = #{cat3},
                areacode = #{areacode},
                sigungucode = #{sigungucode},
                mapx = #{mapx},
                mapy = #{mapy},
                firstimage = #{firstimage},
                firstimage2 = #{firstimage2},
                eventstartdate = #{eventstartdate},
                eventenddate = #{eventenddate},
                createdtime = #{createdtime},
                modifiedtime = #{modifiedtime},
                cpyrhtDivCd = #{cpyrhtDivCd},
                mlevel = #{mlevel},
                updated_at = SYSTIMESTAMP
        WHEN NOT MATCHED THEN
            INSERT (
                id, contentid, contenttypeid, title, addr1, addr2, zipcode, tel,
                cat1, cat2, cat3, areacode, sigungucode, mapx, mapy,
                firstimage, firstimage2, eventstartdate, eventenddate,
                createdtime, modifiedtime, cpyrhtDivCd, mlevel, created_at, updated_at
            ) VALUES (
                EVENT_CONTENT_SEQ.NEXTVAL, #{contentid}, #{contenttypeid}, #{title}, #{addr1}, #{addr2}, #{zipcode}, #{tel},
                #{cat1}, #{cat2}, #{cat3}, #{areacode}, #{sigungucode}, #{mapx}, #{mapy},
                #{firstimage}, #{firstimage2}, #{eventstartdate}, #{eventenddate},
                #{createdtime}, #{modifiedtime}, #{cpyrhtDivCd}, #{mlevel}, SYSTIMESTAMP, SYSTIMESTAMP
            )
    </insert>
    
    <!-- 이벤트 데이터 개수 조회 -->
    <select id="countEventContent" resultType="int">
        SELECT COUNT(*) FROM EVENT_CONTENT
    </select>
    
    <!-- 이벤트 데이터 전체 삭제 -->
    <delete id="deleteAllEventContent">
        DELETE FROM EVENT_CONTENT
    </delete>

    <insert id="insertEventDate">
        INSERT INTO event_detail (
            content_id,
            content_type_id,
            age_limit,
            booking_place,
            discount_info_festival,
            event_end_date,
            event_homepage,
            event_place,
            event_start_date,
            festival_grade,
            place_info,
            play_time,
            program,
            spend_time_festival,
            sponsor_1,
            sponsor_1_tel,
            sponsor_2,
            sponsor_2_tel,
            sub_event,
            use_time_festival
        ) VALUES (
                     #{contentId},
                     #{contentTypeId},
                     #{ageLimit},
                     #{bookingPlace},
                     #{discountInfoFestival},
                     #{eventEndDate, jdbcType=TIMESTAMP},
                     #{eventHomePage},
                     #{eventPlace},
                     #{eventStartDate, jdbcType=TIMESTAMP},
                     #{festivalGrade},
                     #{placeInfo},
                     #{playTime},
                     #{program},
                     #{spendTimeFestival},
                     #{sponsor1},
                     #{sponsor1Tel},
                     #{sponsor2},
                     #{sponsor2Tel},
                     #{subEvent},
                     #{useTimeFestival}
                 )
    </insert>

    <update id="updateEventDate">
            UPDATE event_detail
            SET
                content_type_id = #{contentTypeId},
                age_limit = #{ageLimit},
                booking_place = #{bookingPlace},
                discount_info_festival = #{discountInfoFestival},
                event_end_date = #{eventEndDate, jdbcType=TIMESTAMP},
                event_homepage = #{eventHomePage},
                event_place = #{eventPlace},
                event_start_date = #{eventStartDate, jdbcType=TIMESTAMP},
                festival_grade = #{festivalGrade},
                place_info = #{placeInfo},
                play_time = #{playTime},
                program = #{program},
                spend_time_festival = #{spendTimeFestival},
                sponsor_1 = #{sponsor1},
                sponsor_1_tel = #{sponsor1Tel},
                sponsor_2 = #{sponsor2},
                sponsor_2_tel = #{sponsor2Tel},
                sub_event = #{subEvent},
                use_time_festival = #{useTimeFestival}
            WHERE content_id = #{contentId}
    </update>

</mapper> 