<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.api.mapper.ExpressBusGradeApiMapper">
    <insert id="insert">
        INSERT INTO EXPRESS_BUS_GRADE (GRADE_ID, GRADE_NM) VALUES (#{gradeId}, #{gradeNm})
    </insert>

    <update id="update">
        UPDATE EXPRESS_BUS_GRADE
        SET GRADE_NM = #{gradeNm}
        WHERE GRADE_ID = #{gradeId}
    </update>
</mapper>