<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.api.mapper.HouseApiMapper">

    <insert id="insert" parameterType="kr.spring.api.dto.HouseApiDto">
        MERGE INTO house ha
        USING DUAL
        ON (ha.content_id = #{contentId})
            WHEN MATCHED THEN
            UPDATE SET
                content_type_id = #{contentTypeId},
                title = #{title},
                addr1 = #{addr1},
                addr2 = #{addr2},
                zipcode = #{zipcode},
                tel = #{tel},
                cat1 = #{cat1},
                cat2 = #{cat2},
                cat3 = #{cat3},
                area_code = #{areaCode},
                sigungu_code = #{sigunguCode},
                map_x = #{mapX},
                map_y = #{mapY},
                mlevel = #{mLevel},
                first_image = #{firstImage},
                first_image2 = #{firstImage2},
                cpyrht_div_cd = #{cpyrhtDivCd},
                updated_at = #{updatedAt}
        WHEN NOT MATCHED THEN
            INSERT (
                id, content_id, content_type_id, title, addr1, addr2, zipcode, tel,
                cat1, cat2, cat3, area_code, sigungu_code, map_x, map_y, mlevel,
                first_image, first_image2, cpyrht_div_cd,
                created_at, updated_at
            ) VALUES (
            house_seq.NEXTVAL, #{contentId}, #{contentTypeId}, #{title}, #{addr1}, #{addr2}, #{zipcode}, #{tel},
                #{cat1}, #{cat2}, #{cat3}, #{areaCode}, #{sigunguCode}, #{mapX}, #{mapY}, #{mLevel},
                #{firstImage}, #{firstImage2}, #{cpyrhtDivCd},
                #{createdAt}, #{updatedAt}
                )
    </insert>


    <delete id="deleteInvalidHouseData">
        DELETE FROM HOUSE WHERE AREA_CODE = 0;
    </delete>

</mapper>